body{
    margin:0;
    background:#efefef;
    display:flex;
    justify-content:center;
    padding-top:40px;
    font-family:Arial, sans-serif;
}

.widget{
    width:260px;
    background:
    linear-gradient(rgba(35,15,8,0.45), rgba(35,15,8,0.45)),
    url("../img/wood.jpg");
    background-size:cover;
    color:#f3e9dc;
    text-align:center;
    padding:18px;
}

/* IMAGE */
.masthead img{
    width:75px;
}

/* TITLE */
h1{
    font-family:'Bebas Neue', sans-serif;
    font-size:58px;
    line-height:0.9;
    margin:15px 0;
}

.masthead img{
    width:75px;
    background:#4b1f0d;
    
}


/* INPUT */
input{
    width:100%;
    padding:8px;
    font-size:11px;
    border:none;
    box-sizing:border-box;
}

/* BUTTON */
button{
    width:100%;
    margin-top:8px;
    padding:8px;
    border:none;
    background:#cfe7fb;
    font-size:10px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#b8d9f5;
}

/* FEEDBACK */
.feedback{
    height:18px;
    font-size:11px;
    color:#ffb3b3;
}

/* LIST */
ul{
    list-style:none;
    padding:0;
    margin-top:10px;
}

li{
    text-align:left;
    padding:8px;
    font-size:12px;
    border-bottom:1px solid rgba(255,255,255,0.45);
}

li::before{
    content:"> ";
}

/* FOOTER */
footer{
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid rgba(255,255,255,0.3);
}

footer a{
    color:#9cccf5;
    margin:0 10px;
    font-size:22px;
    text-decoration:none;
}